body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    'PingFang SC',
    'Microsoft YaHei',
    'Noto Sans SC',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}
#__root {
  display: inline-block;
}
